* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.header{
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoimg{
    height: 160px;
    width: 160px;
}

.links{
    text-decoration: none;
    margin-right: 40px;
    font-size: 30px;
    color: black;
    transition: all 1s;
}


.links:hover{
    color: red;
    font-size: 35px;
    
}

/* .links:active{
    color: green;
} */

#home{
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro{
    padding: 30px;
    font-size: 20px;
}

.intro_head{
    margin-top: 50px;
    margin-bottom: 10px;
}

.intro_p{
    text-align: justify;
    margin-bottom: 20px;
}

.intro_link{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

.intro_img{
    position: relative;
}

.intro_img1{
    width: 60%;
    position: absolute;
    left: 80px;
}

.intro_img2{
    width: 100%;
}


#about{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    column-gap: 10px;
}

.abt_img>img{
    width: 100%;
}

.abt_content>h4{
    color: red;
    margin-bottom: 30px;
}

.abt_content>p{
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    visibility: hidden;
}

.abt_content>p::first-line{
    color: blue;
}

.abt_content>p::first-letter{
    color: green;
    font-size: 20px;
}